@media (max-width: 480px) {
  .product-item-container {
    min-height: 250px;
    width: 47%;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .product-item-container-large-size {
    min-height: 350px;
    width: 97%;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .product-item-image {
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .share-button {
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(61, 58, 58);
    padding: 5px;
    border-radius: 50px;
    margin: 10px;
  }

  .product-main-details {
    padding-left: 5px;
    margin-top: -10px;
  }

  .product-vendor {
    font-family: "Roboto";
    color: gray;
    margin-bottom: -15px;
    font-size: 15px;
  }

  .product-name {
    font-family: "Roboto";
    color: gray;
    font-size: 15px;
  }

  .product-price-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
  }

  .product-current-price {
    color: black;
    font-family: "Roboto";
    margin-right: 5px;
    font-size: 15px;
  }

  .product-actual-price {
    color: gray;
    text-decoration: line-through;
    font-family: "Roboto";
    margin-right: 5px;
    font-size: 15px;
  }

  .product-discount-rate {
    font-family: "Roboto";
    color: purple;
    font-size: 15px;
    margin-right: 5px;
  }

  /* Modal styling */
  .modal-content {
    border-radius: 10px;
    padding: 20px;
  }

  .modal-header,
  .modal-footer {
    border: none;
  }

  .modal-title {
    font-family: "Roboto";
    font-size: 18px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-size: 15px;
    color: gray;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
  }

  .modal-footer .btn {
    width: 100px;
  }
}
