.top-item-container {
  background-image: url("https://cdn.shopify.com/s/files/1/0809/7359/4918/files/FIG-01-006-GR_1.jpg?v=1704830622");
  background-size: cover;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.top-item-vibe-name {
  font-style: italic;
  font-family: "Roboto";
  color: #ffffff;
}
